@{
    ViewData["Title"] = "EvaluarLicitacion";
}


<div class="row">
    <div class="col-md-12">
        <h1 style="text-align:center">Evaluar Licitación de Requerimientos de Máquinas</h2>
        
    </div>
</div>
<div class="row">    
    <div class="col-md-3">
       Usuario: <input type="text" value="Alejandro Uribe">
    </div>

</div><br>
<div  class="row">
   
    <div class="borde col-md-4">
        <h3>Datos del Cliente</h3>
            <div>RUC: <input type="text" value="992775138"></div><br>
            <div>
                Empresa: <input type="text" value="US ITEM S.A">
            </div><br>
         
    </div>
    <div class="borde col-md-4">
        <h3>Datos de Licitación</h3>
            <div>Número de Licitacion: <input type="text" value="08966413"></div><br>
            <div>
                Fecha de Entrega: <input type="date">
            </div><br>
    </div>
    <div class="borde col-md-4">
        <br>
            <div>Usuario Creador:<input type="text" value="Alejandro Uribe"></div><br>
            <div>
               Fecha de Creación:<input type="date">
            </div><br>
            <div>
                Estado:<select><option value="Aprobado">Aprobado</option>
            <option value="Desaprobado">Desaprobado</option>
            <option value="Pendiente">Pendiente</option>
        </select> 
            </div><br>
    </div>
    
</div><br>
<div class="row">
    <div class="col-md-12">
      <table style="width:100%">
          <tr>
              <th>Item</th>
              <th>Cantidad</th>
              <th>Descripción</th>
              <th>Marca</th>
              <th>Características</th>
              <th>Garantía</th>
              
          </tr>
          <tr>
              <td>1</td>
              <td>15</td>
              <td>Computadora de Escritorio</td>
              <td></td>
              <td></td>
              <td>1 año</td>
    
          </tr>
          <tr>
          </tr>
          <tr>
              
          </tr>
          <tr>
              
          </tr>
          <tr>
              
          </tr>
          <tr></tr>
      </table>
    </div>

</div><br>
<div class="row">
    <div class="col-md-8">
    </div>
    <div style="text-align:right" class="col-md-2">
        <button type="button"class="btn btn-primary btn-sm">Exportar Documento</button>
    </div>
</div><br>
<div class="row">
    <div class="col-md-7">
    </div>
    <div style="text-align:right" class="col-md-5">
       <button type="button"class="btn btn-primary btn-sm">Regresar</button>
       <button type="button"class="btn btn-primary btn-sm">Limpiar</button>
       <button type="button"class="btn btn-primary btn-sm">Grabar</button>
    </div>
</div>