@{
    ViewData["Title"] = "ConsultarCotizacion";
}


<div class="row">
    <div class="col-md-12">
        <h1 style="text-align:center">Consultar Cotizacion  de Requerimientos de Máquinas</h2>
        
    </div>
</div>
<div class="borde row">    
    <div class="col-md-4">
        Número de Cotizacion:<br>
        <input type="text" value="08966413">
    </div><br>
     <div class="col-md-2">RUC: <input type="text" value="992775138"></div>
     <div class="col-md-2">Empresa: <input type="text" value="US ITEM S.A"></div>
    <div class="col-md-2">
        Fecha de Creación:<input type="date">
    </div>
    <div class="col-md-2">Estado:<select><option value="Aprobado">Aprobado</option>
            <option value="Desaprobado">Desaprobado</option>
            <option value="Pendiente">Pendiente</option>
        </select> </div>
</div><br>
<div>
    <button type="button"class="btn btn-primary btn-sm">Consultar</button>
</div><br>
<div class="row">
    <div class="col-md-12">
      <table style="width:100%">
          <tr>
              <th>Número de Cotizacion</th>
              <th>RUC</th>
              <th>Empresa</th>
              <th>Fecha de Creación</th>
              <th>Estado</th>
              <th></th>
          </tr>
          <tr>
              <td>000000000010</td>
              <td>20110343907</td>
              <td>U.S. ITEM S.A</td>
              <td>28/08/2018  </td>
              <td>Pendiente</td>
              <td><input type="button" value="Visualizar"></td>
          </tr>
          <tr> <td>000000000020</td>
              <td>20110343907</td>
              <td>U.S. ITEM S.A</td>
              <td>28/08/2018  </td>
              <td>Desaprobado</td>
              <td><input type="button" value="Visualizar"></td>
          </tr>
          <tr>
               <td>000000000030</td>
              <td>20110343907</td>
              <td>U.S. ITEM S.A</td>
              <td>28/08/2018  </td>
              <td>Aprobado</td>
              <td><input type="button" value="Visualizar"></td>
          </tr>
          <tr>
              
          </tr>
          <tr>
              
          </tr>
          <tr></tr>
      </table>
    </div>

</div><br>
<div class="row">
</div><br>
<div class="row">
    <div class="col-md-7">
    </div>
    <div style="text-align:right" class="col-md-5">
       <button type="button"class="btn btn-primary btn-sm">Regresar</button>
    </div>
</div>